# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Certificates
certs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
*.log
.DS_Store 

response.json